body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8d082;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.joke {
    background-color: #f9e8c9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.category {
    font-size: 24px;
    margin-bottom: 10px;
}

.type {
    font-size: 18px;
    margin-bottom: 10px;
}

.setup,
.delivery,
.joke {
    font-size: 16px;
    margin-bottom: 10px;
}

.flags {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flags li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ddd;
    font-size: 14px;
}

.flags li.true {
    background-color: #d83f31;
    color: #fff;
}

.flags li.false {
    background-color: #ddd;
    color: #eeeded;
}

.lang {
    font-size: 14px;
    margin-top: 10px;
}

.safe,
.unsafe {
    font-size: 14px;
    font-weight: bold;
}

#btn {
    background-color: #fb8b24;
    font-family: 'poetsen one', sans-serif;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 47%;
    margin-bottom: 30px;
}

.button {
    font-family: leto, sans-serif;
}

#btn:hover {
    background-color: #e36414;
}

h2 {
    font-family: 'special elite', sans-serif;
    color: #911f1f;
}

li {
    margin-bottom: 17px;
}

.image {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.image img {
    width: 185px;
    height: 185px;
}

.bottom-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bottom-img img {
    width: 80px;
    height: 80px;
}

#setup {
    font-family: rajdhani, sans-serif;
    font-size: 2em;
}

#delivery {
    font-family: rajdhani, sans-serif;
    font-size: 2em;
}

.unsafe {
    font-family: 'cute font', sans-serif;
    font-size: 2em;
    color: #d83f31;
}

.safe {
    font-family: 'cute font', sans-serif;
    font-size: 2em;
    color: green;
}

.lang {
    font-family: 'cute font', sans-serif;
    font-size: 2em;
}
